GOOGLE_CLIENT_ID=501837672185-cqe1gpnn2bautrhjgu899ag44k5gi393.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:5001/api/auth/google/callback

MONGODB_URI=mongodb+srv://divyanshrai6200_db_user:dm31zdcZUs1RfKuB@cluster0.c1vetsj.mongodb.net/indian-standards-ai

JWT_SECRET=ZFksgNi2mQUuTCIR1WsrZRGzs11ytrcnZ96z2fm1kHw2awzEZK8Ie6IlvHn
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

PORT=5001
NODE_ENV=development

MISTRAL_API_KEY=
